@import 'src/assets/scss/utils';

.layout-footer-wrap {
  height: $height-layout-tb;
  line-height: $height-layout-tb;
  padding: 0 3rem !important;
  @include flex-row;
  justify-content: space-between;

  .link-text {
    color: $oc-gray-8;
    margin: 0 .5rem;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
