@import 'src/assets/scss/utils';

.button-group-wrap {
  @include flex-row;
  height: 35px;
  display: flex;
  flex-direction: row;

  button {
    height: 100%;
    padding: 0 0.8rem;
    font-weight: 500;
  }

  button + button {
    margin-left: .3rem;
  }
}