@import 'src/assets/scss/utils';

.question-modal-wrap {
  position: absolute !important;
  width: 60rem !important;
  top: 7% !important;
  left: calc(50% - 30rem) !important;
  z-index: 1000;

  .ant-modal-body {
    padding: 0;
    height: auto;
    max-height: 50rem;
    background: #fcfcfc;

    .question-title {
      position: relative;
      padding: 27px 50px 25px 230px;
      font-size: 17px;
      background-color: #fff;
      line-height: 27px;
      font-weight: 500;
      border-bottom: 1px solid #eee;
      height: 80px;
    }

    .question {
      border-bottom: 1px solid #eee;
    }

    .question,
    .answer {
      position: relative;
      width: 100%;
      padding: 20px 200px 20px 230px;
      font-size: 14px;
      line-height: 24px;
      color: #555;
      box-sizing: border-box;
      height: 300px;
      max-height: 300px;
      overflow-y: auto;

      textarea {
        height: 15rem;
        resize: none;
      }

      .mark {
        position: absolute;
        top: 50%;
        left: 0;
        width: 180px;
        margin-top: -30px;
        line-height: 60px;
        text-align: center;
        color: #333;
        font-weight: 500;
        font-size: 17px;
      }

      .writing {
        font-size: 14px;
        line-height: 24px;
        color: #555;
        white-space: break-spaces;
      }

      .date {
        position: absolute;
        top: 14px;
        right: 40px;
        font-weight: 500;
      }
    }
  }

  .ant-modal-footer {
    background-color: $oc-gray-1;
  }

  .question-footer {
    @include flex-row;
    border-top: 1px solid #eee;
    justify-content: flex-end;
    padding: 1rem;
    button {
      height: 2.5rem;
      & + button {
        margin-left: .3rem;
      }
    }
  }

  .ant-modal-footer {
    border: unset;
  }

  button {
    height: 2.5rem;
    font-weight: 500 !important;
    span {
      font-weight: 500 !important;
    }
  }
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
