@font-family: 'IBMPlexSansKR-Regular', sans-serif;
//@primary-color: #357dde;
@primary-color: #339af0;
@primary-bg-color: #e3f0ff;
@layout-header-background: #f1f3f5;

// sider
@layout-sider-background: #fff;
@menu-item-active-bg: @primary-bg-color;

@layout-body-background: #fff;
@layout-footer-background: #f1f3f5;
